/*
 | -----------------------------------------------------|
 |  Quasar SCSS (& Sass) Variables                      |
 | -----------------------------------------------------|
**/

// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

body {
  --q-tertiary: #FFFFFF;
  --q-quaternary: #F2F3F3;
  --q-quinary: #9E9B9B;
  --q-senary: #4B4B4B;
  --q-septenary: #E34548;
  // --q-septenary: #000;
  --q-octal: #68a884;
  --q-nonary: #38634B;
  --q-text-inverse: #FFFFFF;
  --q-text: #000000;
  --q-dark-hover: #000000;
  --q-dark-hover-90: #00000090;
}

$primary   : #A11D20;
// $primary   : #272727;
$secondary : #336AA7;
// $secondary : #040404;
$accent    : #7E181A;
// $accent    : #000000;
$tertiary: var(--q-tertiary) !default;
$quaternary: var(--q-quaternary) !default;
$quinary: var(--q-quinary) !default;
$senary: var(--q-senary) !default;
$septenary: var(--q-septenary) !default;
$octal: var(--q-octal) !default;
$nonary: var(--q-nonary) !default;
// 38634B

$dark-hover: var(--q-dark-hover) !default;
$dark-hover-90: var(--q-dark-hover-90) !default;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$background: #ffffff;
$text-inverse: var(--q-text-inverse) !default;
$text: var(--q-text) !default;



/*
 | -----------------------------------------------------|
 |  Add colors to Quasar                                |
 | -----------------------------------------------------|
**/

.bg-text-inverse { background: $text-inverse !important; }
.text-text-inverse { color: $text-inverse !important; }

.bg-text { background: $text !important; }
.text-text { color: $text !important; }

.bg-tertiary { background: $tertiary !important; }
.text-tertiary { color: $tertiary !important; }

.bg-quaternary { background: $quaternary !important; }
.text-quaternary { color: $quaternary !important; }

.bg-quinary { background: $quinary !important; }
.text-quinary { color: $quinary !important; }

.bg-senary { background: $senary !important; }
.text-senary { color: $senary !important; }

.bg-septenary { background: $septenary !important; }
.text-septenary { color: $septenary !important; }

.bg-octal { background: $octal !important; }
.text-octal { color: $octal !important; }

.bg-nonary { background: $nonary !important; }
.text-nonary { color: $nonary !important; }

.bg-dark-hover { background: $dark-hover !important; }
.text-dark-hover { color: $dark-hover !important; }

.bg-dark-hover-90 { background: $dark-hover-90 !important; }
.text-dark-hover-90 { color: $dark-hover-90 !important; }



 /*
 | -----------------------------------------------------|
 |  Normal variables                                    |
 | -----------------------------------------------------|
**/

 $top-radius: 40px;
 $corner-curve: 100px;
 $negative-top: 40px;
 $negative-bottom: 100px;
 $z-index-min: 1;
 $z-index-content: 90;
